{% extends 'base.html' %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <div class="col-md-6 mt-5">

        <form method="POST" action="" >
            {% csrf_token %}
              <table class="table">
                      {{form.as_p}}
    
                      <tr>
                          <td><input type="submit" value="Submit" class="btn btn-dark"></td>
                          <td><a href="{% url 'bookdash'%}" class="btn btn-dark">Book Dashboard</a></td>
                          <td><a href="{% url 'home'%}" class="btn btn-dark">Home</a></td>
                      </tr>
              </table>
    
        </form>
    
    
    </div>
</body>
</html>




{% endblock content %}